HOSTNAME=localhost
PORT=8080
HOST=http://$HOSTNAME:$PORT
API_HOSTNAME=localhost
API_PORT=8080
API_HOST=http://$HOSTNAME:$PORT

// Save file & name it as .env.development.local for development or .env.production.local for production