APP_NAME=NextJS Admin
APP_CODE=NA
APP_VERSION=0.0.1
HOSTNAME=localhost
PORT=8080
HOST=http://$HOSTNAME:$PORT
API_HOSTNAME=localhost
API_PORT=8000
API_HOST=http://$API_HOSTNAME:$API_PORT

// Save file & name it as .env.development.local for development or .env.production.local for production