#root {

  #app {
    min-height: 100vh;
    
    #sider {
      padding-top: 64px;
    }
    
    #header {
      padding: 0;

      .toggler {
        margin-left: 16px;
        display: none;

        @media only screen and (max-width: $mobile) {
          display: inline-block;
        }
      }
    
      figure {
        color: white;
        float: right;
        margin-right: 16px;
      }
    }
    
    #content {
      > header {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 24px;
      }
    
      > section {
        padding: 24px;
      }
    }
    
    #footer {
      text-align: center;
    }
  }
  
}